

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
  --background: white;
  --backgroundGradientRight: #084758;
  --backgroundGradientLeft: #552966;
  --backgroundLight: #f1f4f8;
  --backgroundLightHover: #e1e6ed;
  --backgroundTransparent: rgba(0, 0, 0, 0.05);
  --backgroundLightTransparent: rgba(255, 255, 255, 0.1);
  --blockquote: #edf2ff;
  --border: #d6d9de;
  --borderColor: var(--fontColorDark);
  --fontColor: #495057;
  --fontColorDark: #1b1d25;
  --fontColorMedium: #60656c;
  --fontColorLight: #858b93;
  --fontColorTransparent: rgba(212, 212, 212, 0.5);
  --headingColor: #76FEFF;
  --linkColor: #9ba1a6;
  --linkActiveColor: #FEFEFE;
  --linkColorDarker: #364fc7;
  --navbarColor: #1b1d25;
  --fontFamily: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Roboto', Roboto, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --fontFamilyMono: 'DM Mono', Menlo, 'Roboto Mono', Courier New, monospace;

  --font: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  --font-color: #FEFEFE;
  --bg-color: #141617;
  --link-color: #FEFEFE;
  --link-hover-color: #F8D838;
  --link-border-color: rgba(14, 14, 14, 0.2);
  --title-color: #FEFEFE;
  --subtitle-color: #005DFF;
}

:-moz-focus-inner {
  border: 0;
  padding: 0
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: auto;
  font-kerning: auto
}

html {
  color: var(--font-color);
  background-color: var(--bg-color);
  height: 100%;
  margin: 0;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body,
html {
  width: 100%;
  display: -ms-flexbox;
  display: flex
}

body {
  background: radial-gradient(circle at 15% 50%, var(--backgroundGradientLeft), rgba(255, 255, 255, 0) 25%), radial-gradient(circle at 85% 30%, var(--backgroundGradientRight), rgba(255, 255, 255, 0) 25%);
  line-height: 1.6rem;
  font-family: var(--fontFamily);
  word-wrap: break-word;
  margin: 0;
  -ms-flex-flow: column;
  flex-flow: column;
  font-size: 1rem;
  -ms-flex-align: start;
  align-items: start;
  -ms-flex-pack: start;
  justify-content: start;
  animation: hue-rot 10s infinite alternate;
}

a {
  font-size: 1rem;
  color: var(--linkColor);
  font-weight: 500;
  text-decoration: none;
  transition: all .2s ease-in-out;
}


a:active,
a:hover {
  color: var(--link-hover-color);
  border-bottom-color: var(--link-hover-color)
}

a.active {
  color: var(--linkActiveColor);
}

nav {
  min-width: 100vw;
  padding: 2vh 6vw;
}

h1 {
  color: var(--title-color);
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -.025em;
  line-height: 1
}

h2,
h1 {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center
}

h2 {
  color: var(--subtitle-color);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -.0125em
}

p {
  font-size: .9rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.6;
  padding: 1rem 0;
  max-width: 50vw;
}

@media (min-width:675px) {
  h1 {
    font-size: 7rem;
    margin: 0;
  }

  h2 {
    letter-spacing: .025em;
    font-size: 2.4rem
  }

  p {
    font-size: 1.5rem;
    line-height: 1.8;
  }
}

::-webkit-scrollbar {
  width: 0px;
}



